# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Authentication
NEXT_PUBLIC_AUTH_ENABLED=true
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""
